* {
  box-sizing: border-box;
}
body {
  background-color: Black;
  margin: 0;

}
header {
  background-color: green;
  font-size: 0;
}
h1 {
  color: #purple;
  /*background-color: red;*/
  display: inline-block;
  padding: 25px 25px 0px;
  width: 75%;
  font-size: 50px;
  font-style: bold;

}
header h2{
  display: inline-block;
  width: 25%;
  /*background-color: purple;*/
  margin: 0;
  font-size: 25px;
  font-style: oblique;
}
nav {
  background-color: white;

}
 nav ul{
  background-color: grey;
  padding-left: 60px;
  font-size: 0;
  font-family: cursive;
}

nav li {
  color: Black;
  display: inline-block;
  font-size: 16px;
  font-family: cu
}
a{
  padding: 30px;
  display: inline-block;
  text-decoration: none;
}
a:hover{
  background-color: black;
}
main {
  background-color: white;
  font-size: 0;
}

section {
background-color: white;
display: inline-block;
font-size: 16px;
width: 60%;
border-right: 3px solid;
padding: 20px 20px 30px 50px;
}

aside {
background-color: white;
display: inline-block;
font-size: 16px;
width: 40%;
vertical-align: top;
padding: 20px;
}
main section h2{
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
}
footer {
  background-color: green;
  padding: 20px 50px;
}
Footer p {
  color: white;
}
img {
  max-width: 100%;
}

section p {
  margin: 5px 0;

}

.right {
  width: 300px;
  float: right;
  margin-left: 20px;
  border-radius: 10px solid #Black;
}

.title {

}

.Phone {
  font-style: oblique;
}
